#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.books-detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.books-img {
  margin: 0 32px 0 0;
}

.books-detail-contents {
  width: calc(100% - 160px);
  text-align: left;
}

.book-ttl {
  margin: initial;
}

.book-description,
.book-authors-list,
.book-publisher {
  margin: 10px 0 0;
}

.book-ttl+p {
  margin: 24px 0 0;
}

.author:not(:last-child)::after {
  position: relative;
  content: ',';
  font-size: 1em;
}

.book-link {
  display: block;
  background: #49c3bc;
  border: 2px solid #49c3bc;
  box-sizing: border-box;
  color: #fff;
  border-radius: 30px;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  margin: 30px 0 0;
  transition: .3s;
}

.book-link:hover {
  color: #49c3bc;
  background: #fff;
}