* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main {
  padding: 52px 0 0 0;
}

/*---header---*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
}

h1 {
  font-size: 28px !important;
  font-weight: bold;
  text-align: left;
  max-width: 1280px;
  width: 100%;
  margin: 10px auto;
  padding: 0 20px;
}

/*---本データ一覧---*/
.books-box {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.books-detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 30px 0;
}

.books-detail:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.books-img {
  margin: 0 32px 0 0;
}

.books-detail-contents {
  width: calc(100% - 160px);
  text-align: left;
}

.book-ttl {
  margin: initial;
}

.book-description,
.book-authors-list,
.book-publisher {
  margin: 10px 0 0;
}

.book-ttl+p {
  margin: 24px 0 0;
}

.author:not(:last-child)::after {
  position: relative;
  content: ',';
  font-size: 1em;
}

.book-link {
  display: block;
  background: #49c3bc;
  border: 2px solid #49c3bc;
  box-sizing: border-box;
  color: #fff;
  border-radius: 30px;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  margin: 30px 0 0;
  transition: .3s;
}

.book-link:hover {
  color: #49c3bc;
  background: #fff;
}