#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.books-detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.books-img {
  margin-right: 32px;
}

.books-detail-contents {
  width: calc(100% - 160px);
  text-align: left;
}

.book-ttl {
  margin: 0 0 24px 0;
}

.book-description,
.book-author,
.book-publisher {
  margin: 0 0 10px 0;
}

.book-link {
  background: #49c3bc;
  border: 2px solid #49c3bc;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 50px;
  border-radius: 30px;
  margin-top: 20px;
  display: inline-block;
  transition: .3s;
}

.book-link:hover {
  color: #49c3bc;
  background: #fff;
}