.search-box {
	padding: 25px 20px;
	width: 48%;
	margin: 0 auto;
}

.search-form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.search-contents {
	width: 100%;
	border: 3px solid #38cbd0;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #170c45;
	background: #fefeff;
}

.search-submit {
	padding: 5.25px 8px;
	border: 1px solid #38cbd0;
	background: #38cbd0;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 16px;
	font-weight: normal;
}